<nz-table 
  [nzData]="produtos" 
  [nzScroll]="{ x: '800px', y: '360px' }">
  <thead>
    <tr>
      <th>Id</th>
      <th>Descrição</th>
      <th>Quantidade</th>
      <th>Preço Compra</th>
      <th>Preço Venda</th>
      <th>Açoes</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let produto of produtos">
      <td>{{produto.id_produto}}</td>
      <td>{{produto.descricao}}</td>
      <td>{{produto.quantidade}}</td>
      <td>{{produto.preco_compra | currency : 'R$'}}</td>
      <td>{{produto.preco_venda | currency : 'R$'}}</td>
      <td>
        <button 
          nz-button 
          class="botao-editar" 
          nzType="default" 
          nzShape="circle"
          (click)="editar.emit(produto.id_produto)">
          <i nz-icon nzType="search"></i>
        </button>

        <button 
            nz-button 
            class="botao-deletar" 
            nzType="default" 
            nzShape="circle" 
            (click)="remover.emit(produto.id_produto)">
          <i nz-icon nzType="delete"></i>
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>