<app-header (add)="facade.acessarRotaCadastro()"></app-header>
<app-produtos-list 
    [produtos]="facade.produtos$ | async"
    (remover)="facade.deleteProduto($event)"
    (editar)="facade.acessarRotaEdicao($event)">
</app-produtos-list>
