<nz-table 
  [nzData]="clientes" 
  [nzScroll]="{ x: '800px', y: '360px' }">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Tipo</th>
      <th>Celular</th>
      <th>Açoes</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of clientes">
      <td>{{cliente.id_cliente}}</td>
      <td class="tamanho-texto">{{cliente.nome}}</td>
      <td>{{cliente.tipo}}</td>
      <td>{{cliente.celular}}</td>

      <td>

      <button 
        nz-button 
        class="botao-info" 
        nzType="default" 
        nzShape="circle" 
        (click)="info.emit(cliente.id_cliente)">
      <i nz-icon nzType="info"></i>
      </button>

        <button 
          nz-button 
          class="botao-editar" 
          nzType="default" 
          nzShape="circle"
          (click)="editar.emit(cliente.id_cliente)">
          <i nz-icon nzType="search"></i>
        </button>

        <button 
            nz-button 
            class="botao-deletar" 
            nzType="default" 
            nzShape="circle" 
            (click)="remover.emit(cliente.id_cliente)">
          <i nz-icon nzType="delete"></i>
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
