.botao-deletar{
    margin-left: 10px;
    border-color: #dc3545;
    background-color: #dc3545;;
}

.botao-editar{
    margin-left: 10px;
    border-color: #1890ff;
    background-color: #1890ff;
}

.botao-info{
    border-color: #faad14;
    background-color: #faad14;
}

.tamanho-texto{
    font-size: 12px;
}
