<div class="form-container">
    <form nz-form [formGroup]="categoriasform" (ngSubmit)="submitCategoria($event)">
        <div nz-row [nzGutter]="16">
            <div nz-col nzSpan="16">
                <nz-form-label nzFor="descricao">Descrição</nz-form-label>
                <nz-form-item>
                    <nz-form-control>
                        <input nz-input name="descricao" type="text" id="descricao" formControlName="descricao"
                            [ngClass]="{'form-submitted': formSubmitted}">
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div class="div-botoes">
            <button nz-button type="button" class="botao-voltar" (click)="closeModal.emit()">
                <i nz-icon nzType="close"></i>
                Cancelar
            </button>
    
            <button nz-button nzType="default" type="submit" class="botao-gravar">
                <i nz-icon nzType="save"></i>
                Gravar
            </button>
        </div>
    </form>
</div>