<div class="form-container">
    <form nz-form [formGroup]="produtosForm" (ngSubmit)="submitProduto($event)">

        <div nz-row [nzGutter]="16">

            <div nz-col nzSpan="8">
                <nz-form-label nzFor="descricao">Descrição</nz-form-label>
                <nz-form-item>
                    <nz-form-control>
                        <input nz-input name="descricao" type="text" id="descricao" formControlName="descricao"
                            [ngClass]="{'form-submitted': formSubmitted}">
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="8">
                <nz-form-label nzFor="id_categoria">Categoria</nz-form-label>
                <span (click)="showModal()" nzTooltipTitle="Adicionar Categoria" nzTooltipPlacement="top" nz-tooltip>
                    <i nz-icon nzType="plus-circle"></i>
                </span>
                <nz-form-item>
                    <nz-form-control>
                        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Selecione uma categoria"
                            formControlName="id_categoria">
                            <nz-option *ngFor="let categoria of categorias" [nzValue]="categoria.id_categoria"
                                [nzLabel]="categoria.descricao">
                            </nz-option>

                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="8">

                <nz-form-label nzFor="quantidade">Quantidade</nz-form-label>
                <nz-form-item>
                    <nz-form-control>
                        <input nz-input name="quantidade" type="text" id="quantidade" formControlName="quantidade"
                            [ngClass]="{'form-submitted': formSubmitted}">
                    </nz-form-control>
                </nz-form-item>

            </div>

            <div nz-col nzSpan="12">
                <nz-form-label nzFor="preco_compra">Preço Compra</nz-form-label>
                <nz-form-item>
                    <nz-form-control>
                        <input nz-input name="preco_compra" t ype="text" id="preco_compra"
                            formControlName="preco_compra" currencyMask
                            [options]=" { prefix: '', thousands: '.', decimal: ',', allowNegative: false }"
                            [ngClass]="{'form-submitted': formSubmitted}">
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="12">
                <nz-form-label nzFor="preco_venda">Preço Venda</nz-form-label>
                <nz-form-item>
                    <nz-form-control>
                        <input nz-input name="preco_venda" t ype="text" id="preco_venda" formControlName="preco_venda"
                            currencyMask [options]=" { prefix: '', thousands: '.', decimal: ',', allowNegative: false }"
                            [ngClass]="{'form-submitted': formSubmitted}">
                    </nz-form-control>
                </nz-form-item>

            </div>
        </div>

        <div class="div-botoes">

            <button nz-button type="button" class="botao-voltar" (click)="voltarListagem()">
                <i nz-icon nzType="close"></i>
                Cancelar
            </button>

            <button nz-button nzType="default" type="submit" class="botao-gravar">
                <i nz-icon nzType="save"></i>
                Gravar
            </button>
        </div>
    </form>
</div>

<nz-modal  nzTitle="Categorias" 
    [(nzVisible)]="isVisibleModal" 
    [nzContent]="modalContent"
    [nzFooter]="modalFooter"
    (nzOnCancel)="closeModal()" 
    [nzCentered]="true">

    <ng-template #modalContent>
        <app-categorias-form 
            (closeModal)="closeModal()">
        </app-categorias-form>
    </ng-template>

    <ng-template #modalFooter>
      
      </ng-template>

</nz-modal>