<div class="form-container">
    <form nz-form [formGroup]="clientesForm" (ngSubmit)="submit($event)">
        <div nz-row [nzGutter]="16">

            <div nz-col nzSpan="6">
                <nz-form-label nzFor="nome">Nome</nz-form-label>
                <nz-form-item>
                    <nz-form-control>
                        <input nz-input name="nome" type="text" id="nome" formControlName="nome"
                            [ngClass]="{'form-submitted': formSubmitted}">
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="6">
                <nz-form-label nzFor="tipo">Tipo</nz-form-label>
                <nz-form-item>
                    <nz-select 
                        nzPlaceHolder="Selecione um tipo"
                        formControlName="tipo">

                        <nz-option nzLabel="Pessoa Jurídica" nzValue="PJ"></nz-option>
                        <nz-option nzLabel="Pessoa Física" nzValue="PF"></nz-option>
                        
                      </nz-select>
                </nz-form-item>
            </div>

            

            <div nz-col nzSpan="6">
                <nz-form-label nzFor="cnpj">Cnpj</nz-form-label>
                <nz-form-item>
                    <nz-form-control>
                        <input nz-input name="cnpj" type="text" id="cnpj" formControlName="cnpj"
                            [ngClass]="{'form-submitted': formSubmitted}">
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="6">
                <nz-form-label nzFor="cpf">Cpf</nz-form-label>
                <nz-form-item>
                    <nz-form-control>
                        <input nz-input name="cpf" type="text" id="cpf" formControlName="cpf"
                            [ngClass]="{'form-submitted': formSubmitted}">
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="8">
                <nz-form-label nzFor="inscricao">Inscrição</nz-form-label>
                <nz-form-item>
                    <nz-form-control>
                        <input nz-input name="inscricao" type="text" id="inscricao" formControlName="inscricao">
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="8">
                <nz-form-label nzFor="endereco">Endereço</nz-form-label>
                <nz-form-item>
                    <nz-form-control>
                        <input nz-input name="endereco" type="text" id="endereco" formControlName="endereco">
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="8">
                <nz-form-label nzFor="complemento">Complemento</nz-form-label>
                <nz-form-item>
                    <nz-form-control>
                        <input nz-input name="complemento" type="text" id="complemento" formControlName="complemento">
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="8">
                <nz-form-label nzFor="bairro">Bairro</nz-form-label>
                <nz-form-item>
                    <nz-form-control>
                        <input nz-input name="bairro" type="text" id="bairro" formControlName="bairro">
                    </nz-form-control>
                </nz-form-item>
            </div>


            <div nz-col nzSpan="8">
                <nz-form-label nzFor="cep">Cep</nz-form-label>
                <nz-form-item>
                    <nz-form-control>
                        <input nz-input name="cep" type="text" id="cep" formControlName="cep">
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="8">
                <nz-form-label nzFor="cidade">Cidade</nz-form-label>
                <nz-form-item>
                    <nz-form-control>
                        <input nz-input name="cidade" type="text" id="cidade" formControlName="cidade">
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="4">
                <nz-form-label nzFor="uf">Uf</nz-form-label>
                <nz-form-item>
                    <nz-form-control>
                        <input nz-input name="uf" type="text" id="uf" formControlName="uf">
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="6">
                <nz-form-label nzFor="telefone">Telefone</nz-form-label>
                <nz-form-item>
                    <nz-form-control>
                        <input nz-input name="telefone" type="text" id="telefone" formControlName="telefone">
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="6">
                <nz-form-label nzFor="celular">Celular</nz-form-label>
                <nz-form-item>
                    <nz-form-control>
                        <input nz-input name="celular" type="text" id="celular" formControlName="celular"
                            [ngClass]="{'form-submitted': formSubmitted}">
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="8">
                <nz-form-label nzFor="email">Email</nz-form-label>
                <nz-form-item>
                    <nz-form-control>
                        <input nz-input name="email" type="text" id="email" formControlName="email"
                            [ngClass]="{'form-submitted': formSubmitted}">
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div class="div-botoes">
            <button nz-button type="button" class="botao-voltar" (click)="voltarListagem()">
                <i nz-icon nzType="close"></i>
                Cancelar
            </button>
    
            <button nz-button nzType="default" type="submit" class="botao-gravar">
                <i nz-icon nzType="save"></i>
                Gravar
            </button>
        </div>
    </form>
</div>
