<app-header (add)="facade.acessarRotaCadastro()"></app-header>
<app-clientes-list 
    [clientes]="facade.clientes$ | async"
    (editar)="facade.acessarRotaEdicao($event)"
    (remover)="facade.deleteCliente($event)">
</app-clientes-list>


